[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
bcrypt = "*"
flask-mysql = "*"
pyjwt = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
